@mixin columnLayout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;

  .main {
    flex: 3;
    background-color: #252329;
    @include columnLayout;
  }

  .side {
    flex: 1;
    background-color: #19161b;
    @include columnLayout;
  }

  @media screen and (max-width: 767px) {
    .main {
      flex: 1;
    }

    .side {
      display: none;
    }
  }
}

.sideContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: hidden;
}
