.container {
  background-color: #252329;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.logo {
  width: 150px;
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  width: 350px;
  height: 80px;
  @media screen and (max-width: 350px) {
    width: 300px;
  }
}

.submit {
  width: 350px;
  height: 50px;
  border-style: none;
  margin: 20px 0;
  background-color: rgba($color: #000000, $alpha: 0);
  color: rgb(129, 3, 255);
  color: linear-gradient(90deg, rgba(129, 3, 255, 1) 0%, rgba(195, 17, 255, 1) 100%);
  border: solid 2px rgb(129, 3, 255);
  border-color: linear-gradient(90deg, rgba(129, 3, 255, 1) 0%, rgba(195, 17, 255, 1) 100%);
  &:hover {
    background-color: rgb(129, 3, 255);
    background: linear-gradient(90deg, rgba(129, 3, 255, 1) 0%, rgba(224, 2, 255, 1) 100%) !important;
    color: #252329;
    cursor: pointer;
  }
}

.guest {
  color: #006ebd;
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 30px;
  &:hover {
    cursor: pointer;
  }
}

.error {
  font-size: 12px;
  color: #f44336;
}
