.black,
.purple,
.smallPurple {
  &:focus {
    outline: none;
  }
}

.purple,
.black {
  width: 350px;
  height: 50px;
  border-style: none;
  margin: 20px 0;
  &:hover {
    cursor: pointer;
  }

  @media screen and (max-width: 350px) {
    width: 300px;
  }
}

.smallPurple {
  width: 150px;
  height: 40px;
  font-size: 14px;
  margin: 20px 0;
  border: solid 2px rgb(129, 3, 255);
  &:hover {
    cursor: pointer;
  }
}

.black {
  background-color: #19161b;
  color: #e0e0e0;
  &:hover {
    background-color: #e0e0e0;
    color: #19161b;
  }
}

.purple,
.smallPurple {
  background-color: rgba($color: #000000, $alpha: 0);
  color: rgb(129, 3, 255);
  color: linear-gradient(90deg, rgba(129, 3, 255, 1) 0%, rgba(195, 17, 255, 1) 100%);
  border: solid 2px rgb(129, 3, 255);
  &:hover {
    background-color: rgb(129, 3, 255);
    background: linear-gradient(90deg, rgba(129, 3, 255, 1) 0%, rgba(224, 2, 255, 1) 100%) !important;
    border-width: 0px;
    color: #252329;
  }
}

.smallPurple {
  border-width: 1px;
}
