.container {
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: flex;
  align-items: flex-end;
}

.box {
  margin-right: 10px;
  background-color: #19161b;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px 0px;
  @media screen and (max-width: 424px) {
    padding-bottom: 20px;
  }
}

.cookie {
  width: 60px;
  -webkit-animation: wobble-ver-right 2s 0s infinite forwards;
  animation: wobble-ver-right 2s 0s infinite forwards;
  &:hover {
    cursor: pointer;
  }
}

.title {
  margin-bottom: 10px;
}

.actions {
  display: flex;
  align-items: center;
  @media screen and (max-width: 424px) {
    flex-direction: column;
  }
}

.info {
  color: #006ebd;
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  @media screen and (max-width: 424px) {
    margin: 0px;
  }
}

@-webkit-keyframes wobble-ver-right {
  0%,
  100% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateY(-30px) rotate(6deg);
    transform: translateY(-30px) rotate(6deg);
  }
  30% {
    -webkit-transform: translateY(15px) rotate(-6deg);
    transform: translateY(15px) rotate(-6deg);
  }
  45% {
    -webkit-transform: translateY(-15px) rotate(3.6deg);
    transform: translateY(-15px) rotate(3.6deg);
  }
  60% {
    -webkit-transform: translateY(9px) rotate(-2.4deg);
    transform: translateY(9px) rotate(-2.4deg);
  }
  75% {
    -webkit-transform: translateY(-6px) rotate(1.2deg);
    transform: translateY(-6px) rotate(1.2deg);
  }
}

@keyframes wobble-ver-right {
  0%,
  100% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateY(-30px) rotate(6deg);
    transform: translateY(-30px) rotate(6deg);
  }
  30% {
    -webkit-transform: translateY(15px) rotate(-6deg);
    transform: translateY(15px) rotate(-6deg);
  }
  45% {
    -webkit-transform: translateY(-15px) rotate(3.6deg);
    transform: translateY(-15px) rotate(3.6deg);
  }
  60% {
    -webkit-transform: translateY(9px) rotate(-2.4deg);
    transform: translateY(9px) rotate(-2.4deg);
  }
  75% {
    -webkit-transform: translateY(-6px) rotate(1.2deg);
    transform: translateY(-6px) rotate(1.2deg);
  }
}
