.container {
  padding: 8px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  width: 95%;
  background-color: #3c393f;
  align-self: center;
  border-radius: 8px;
}

.input {
  margin-left: 5px;
  flex: 1;
  color: #e0e0e0 !important;
}

.iconButton {
  padding: 8px;
  background-color: rgb(129, 3, 255) !important;
  background: linear-gradient(90deg, rgba(129, 3, 255, 1) 0%, rgba(224, 2, 255, 1) 100%) !important;
  border-radius: 8px !important;
}

.send {
  color: #fff;
}
