.container {
  padding: 8px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  width: 90%;
  background-color: #3c393f;
  align-self: center;
  border-radius: 8px;
}

.input {
  margin-left: 5px;
  flex: 1;
  color: #e0e0e0;
}

.iconButton {
  padding: 8px;
  background-color: #2f80ed;
  border-radius: 8px;
}

.send {
  color: #fff;
}
